# Python bytecode
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.env

# MacOS system files
.DS_Store

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Streamlit cache and folders
.streamlit/

# VSCode settings
.vscode/
